Pyrogram
tgcrypto
requests
pyromod
certifi
charset-normalizer
idna
mutagen
pyaes
ffmpeg
mediainfo
PySocks
python-dotenv
cloudscraper
beautifulsoup4
bs4
aiohttp
aiofiles
yt-dlp
pycryptodome
PySocks
websockets
psutil
async-lru
helper
pyaes
soupsieve
urllib3
websockets
py-tgcalls
motor
pytz
umongo
speedtest-cli
